.App {
  padding: 0;
}

.Header {
  border-bottom: 1px solid #ddd;
}

.Sidebar {
  width: 120px;
  margin: 5px;
  position: sticky;
  top: 62px;
  align-self: flex-start;
  align-items: start;
}

.Sidebar .nav-item {
  width: 100%;
  margin: 5px;
}

.Sidebar a {
  color: #444;
}

.Sidebar a:hover {
  background-color: #eee;
}

.Sidebar a:visited {
  color: #444;
}

.Sidebar .nav-item .active {
  background-color: #def;
}


.Content {
  margin-top: 10px;
}

.More {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.Sidebar a, .dropdown-item, .dropdown-item.active {
  color: #444;
}

.Sidebar .nav-item .active, .dropdown-item.active {
  background-color: #def;
}

.NavDropdown {
  background-color: #444;
  color: #def;
}

.Write {
  margin-bottom: 10px;
  padding: 30px 0px 40px 0px;
  border-bottom: 1px solid #eee;
}

.Write form {
  width: 100%;
}

.Bento {
  border: '2px solid black';
  borderBottomLeftRadius: '20px';
  borderBottomRightRadius: '20px';
  borderTopLeftRadius: '20px';
  borderTopRightRadius: '20px';
}

.Destination {
  margin: 10px 0 0 50px;
}

li{
  margin: 30px 5;
}

.custom-date-range-picker .rdrDateRangeWrapper .rdrDateDisplayWrapper:first-child {
  display: none;
}
