**/__pycache__
**/.pytest_cache
**/node_modules
**/*.db
**/.DS_Store
**/.eslintcache
**/*.h5
**/.eslintcache
**/.ipynb_checkpoints
.vscode
.idea
src/lib/model/server/*.p
settings.env
**/*.p
**/*.patch
**/*.sql
build/*
.env
**/*.egg-info
